body{
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	color:#230903;
}

.main {
	padding-top: 1%;
	background:url("../images/zenbg.jpg") no-repeat center center fixed;
	background-size:cover;
	top:0;
	left:0;
	height: auto;
	width:100%;
}
.profile{
	border-radius: 50%;
	box-shadow: 0 0 1px 5px #230903;
	max-width: 45%;
	height: auto;
	width: auto\9;
}

.container {
	
}
.outline-text{
	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
	padding-left:40px;
	padding-top:14px;

}
.image-title{
	background-image:url("../images/inkstroke.png");
	background-size:cover;
	height:auto;
	width:220px;
	left:0;
	top:0;
	padding-bottom:1%;
	margin-bottom:1%;
}
.card {
	background-color:rgba(201,121,64,0.9);
}
.row {
	margin-bottom: 4%;
}
h1, h2 {
	font-family: 'Anton', sans-serif;
}
.content-area{
	padding-top: 10px;
	text-align:center;
}
.icon {
	display: inline-block; 
	width: 16px;
	height: 16px;
	margin-bottom: 4px;
	margin-left:6px;
}
footer {
	padding: 0px 10px;
	background-color:#A56C43;
	text-align: center;
}