.main {
	padding-top: 4%;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}
img {
	max-width: 45%;
	height: auto;
	width: auto\9;
}
.error-msg {
	margin: 5px 0px 0px 0px; 
	text-align: center;
	color: red;
}
.row {
	margin-bottom: 4%;
}
h1, h2 {
	font-family: 'Anton', sans-serif;
}
.content-area{
	margin-top: 10px;
	text-align:center;
}
footer {
	padding: 0px 10px;
	text-align: center;
}