body{
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	color:#230903;
	margin:0px;
}
section{
	height:100vh;
}
.main {
	padding-top: 1%;
	top:0;
	left:0;
	height: auto;
	width:100%;
	overflow-x:hidden;
}
.profile{
	border-radius: 50%;
	box-shadow: 0 0 1px 5px #230903;
	max-width: 40%;
	height: auto;
	width: auto\9;
}
.row-offcolor{
	padding: 65px 10px;
}
.row-color {
	background-color: rgb(201,121,64);
	-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	padding: 65px 10px;
}
.outline-text{
	text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
	padding-left:40px;
	padding-top:14px;

}

.card {
	background-color:transparent;
	border:none;
}

.card-footer{
	border:none;
	background-color:rgb(201,121,64);
}
h1, h2 {
	font-family: 'Anton', sans-serif;
}

.content-area{
	padding-top: 10px;
	text-align:center;
}
.icon {
	display: inline-block; 
	width: 16px;
	height: 16px;
	margin-bottom: 4px;
	margin-left:6px;
}
footer {
	padding: 0px 10px;
	background-color:#A56C43;
	text-align: center;
}